In [28]:
%pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /home/gabrielly/.local/lib/python3.8/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import psycopg2

In [30]:
# Database Credentials
# Configure the connection to the database
DBNAME = 'd336seml1avjjq'
USER = 'fntlnknvzcqwbh'
PASSWORD = 'dc978ceacfe35dfdf805f5685406ed325ccae2627f23399e860a045ed78bc265'
HOST = 'ec2-3-226-163-72.compute-1.amazonaws.com'
PORT = '5432'

In [31]:
# Connect to an existing database
conn = psycopg2.connect(dbname=DBNAME, user=USER,
                        password=PASSWORD, host=HOST, port=PORT)

# Open a cursor to perform database operations
cur = conn.cursor()

In [32]:

#  Execute a command: this creates a new table
cur.execute("""
    CREATE TABLE IF NOT EXISTS Loja (
        id_loja INTEGER PRIMARY KEY NOT NULL,
        cod_loja INTEGER NOT NULL,
        nm_loja VARCHAR(100) NOT NULL
    );
""")

cur.execute("""
    CREATE TABLE IF NOT EXISTS Cliente (
        id_cliente INTEGER PRIMARY KEY NOT NULL,
        estado_civil VARCHAR(50),
        sexo VARCHAR(20),
        bairro VARCHAR(50)
    );
""")

cur.execute("""
    CREATE TABLE IF NOT EXISTS Tempo (
        id_tempo INTEGER PRIMARY KEY NOT NULL,
        ano INTEGER NOT NULL,
        mes INTEGER NOT NULL,
        dia INTEGER NOT NULL,
        data INTEGER NOT NULL
    );
""")

cur.execute("""
    CREATE TABLE IF NOT EXISTS DIM_Produto (
        id_produto INTEGER PRIMARY KEY NOT NULL,
        cod_produto INTEGER NOT NULL,
        nm_produto VARCHAR(100) NOT NULL,
        secao VARCHAR(50),
        grupo VARCHAR(50),
        subgrupo VARCHAR(50)
    );
""")

# Make the changes to the database persistent
conn.commit()

In [33]:
cur.execute("SELECT * FROM Loja;")
cur.fetchone()

(1, 21, 'Flor de Liz')

In [34]:

cur.execute("""
    CREATE TABLE IF NOT EXISTS Vendas (
        id_loja INTEGER NOT NULL,
        CONSTRAINT id_loja FOREIGN KEY (id_loja) REFERENCES Loja (id_loja),
        id_produto INTEGER NOT NULL,
        CONSTRAINT id_produto FOREIGN KEY (id_produto) REFERENCES DIM_Produto (id_produto),
        id_cliente INTEGER NOT NULL,
        CONSTRAINT id_cliente FOREIGN KEY (id_cliente) REFERENCES Cliente (id_cliente),
        id_tempo INTEGER NOT NULL,
        CONSTRAINT id_tempo FOREIGN KEY (id_tempo) REFERENCES Tempo (id_tempo),
        Qtde_vendida INTEGER NOT NULL,
        Receita_venda DECIMAL(38,2) NOT NULL
    );
""")

conn.commit()
cur.close()
conn.close()

In [35]:
CREATE TABLE IF NOT EXISTS Loja (
  ID_loja INTEGER PRIMARY KEY NOT NULL,
  Cod_loja INTEGER NOT NULL,
  Nm_loja VARCHAR(100) NOT NULL
);

CREATE TABLE IF NOT EXISTS Cliente (
    ID_cliente INTEGER PRIMARY KEY NOT NULL,
    Estado_civil VARCHAR(50),
    Sexo VARCHAR(20),
    Bairro VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS Tempo (
    ID_tempo INTEGER PRIMARY KEY NOT NULL,
    Ano INTEGER NOT NULL,
    MÃªs INTEGER NOT NULL,
    Dia INTEGER NOT NULL,
    Data INTEGER NOT NULL
);

CREATE TABLE IF NOT EXISTS DIM_Produto (
    ID_produto INTEGER PRIMARY KEY NOT NULL,
    Cod_produto INTEGER NOT NULL,
    Nm_produto VARCHAR(100) NOT NULL,
    Secao VARCHAR(50),
    Grupo VARCHAR(50),
    Subgrupo VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS Vendas (
  id_loja INTEGER NOT NULL,
  CONSTRAINT id_loja FOREIGN KEY (id_loja) REFERENCES Loja (id_loja),
  id_produto INTEGER NOT NULL,
  CONSTRAINT id_produto FOREIGN KEY (id_produto) REFERENCES DIM_Produto (id_produto),
  id_cliente INTEGER NOT NULL,
  CONSTRAINT id_cliente FOREIGN KEY (id_cliente) REFERENCES Cliente (id_cliente),
  id_tempo INTEGER NOT NULL,
  CONSTRAINT id_tempo FOREIGN KEY (id_tempo) REFERENCES Tempo (id_tempo),
  Qtde_vendida INTEGER NOT NULL,
  Receita_venda DECIMAL(38,2) NOT NULL
);

SyntaxError: invalid syntax (252549283.py, line 1)